# For ignoring vim files
*.swp
*.vim

#  
__pycache__

# Logs ingore
logs
logs/*

# Ignore symlink for tests in bot folder
bot/config.py
bot/logs
bot/mptParser
bot/bot

# Ignore changes in config
config.py

test*

# Ignore db
*.json
