# for ignoring vim files
*.swp
*.vim

# 
__pycache__

# logs ingore
sys_logs.txt
err
out

# ignore symlink for tests in bot folder
bot/config.py
bot/logs
bot/mptParser
bot/bot

# ignore changes in config
config.py

test*
